button{
    color:white;
    background-color: rgb(204, 25, 25);
}
button, img{
    margin: 10px auto;
    display: block;
}
h1{
    text-align: center;
}
body{
    background-color: rgb(17, 195, 136);
}
